body {
  font: 100% $font-stack;
  color: black;
}
.header.center.orange-text{
	font-weight: bold;
}
.card-content{
	text-align:center;
}
.card-image{
	text-align:center;
	height: 30%; 
	width: 30%;
}
