body {
  font: 100% $font-stack;
  color: black;
}

.header.center.orange-text{
  font-weight: bold;
}

//immagine {
//  width: 300px;
//  z-index: -1;
//  border: 2px solid red;
//}

//responsive-img {
//  width: 100%; 
//  height: auto;
//}

section#counter-stats {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.stats .fa {
  color: #008080;
  //font-size: 60px;
}

#counter-stats .fas {
  font-size: 3em;
}

#counter-stats h5 {
  font-size: 0.9em;
}

#home-card .material-icons {
  font-size: 6em;
}

#home-card h4 {
  font-size: 4.1em;
}

@media only screen and (max-width : 992px){
  #counter-stats .fas {
    font-size: 1.7em;
  }
  #counter-stats h5 {
    font-size: 0.4em;
  }
  #home-card .material-icons {
    font-size: 3em;
  }
  #home-card h4 {
    font-size: 1.7em;
  }
}

.cookie-consent {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  //height: 13%;
  background:#999;
  padding: .5rem !important;
  opacity: 0.9;

}
/*.cookie-consent__agree{
  margin-top:5px;
}
.button-cookie{
	margin-top :30px;
}
@media only screen and (max-width : 992px){
  .button-cookie{
	margin-top :80px;
}
}
.cookie-consent .row {
  margin-bottom: 0px;
}*/

.logo{
  margin-top: 40px;
}

@media only screen and (max-width : 992px){
  .title-home > h4 {
  font-size: 30px;
  }
}

.parallax{
  transform: none !important;
  width: 100% !important;
}

.tabs .tab a{
  color:orange;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #fff3e0;
  outline: none;
}
.tabs .tab a:hover,tabs .tab a:active,.tabs .tab a.active {
  background-color:transparent;
  color:orange;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
  color:rgba(102,147,153,0.7);
}
.tabs .indicator {
  background-color:#F27620;
}

.dropdown-content li > a{
  color: #ff5722 ;
}
