.slider > ul > li >  p { 
	font-size: 20px;
	color: black; 
	margin-top: 20px; 
	margin-left:5px;
	margin-right:5px;
}
@media only screen and (max-width : 992px){
	.slider > ul > li > p{
		font-size: 12px;
		text-align: center;
	}
}
.logo-home{
	display: block; 
	margin-left: auto;
	margin-right: auto;
}
#biker{
	position: absolute;
}