/*.slides > .image{
	 max-width: 128px;
	 height: auto; 
	 margin-top: 70px;
}
.slides > p{
	color: rgb(50, 50, 50); 
	font-size: 15px; 
	font-weight: 300; 
	margin-top: 20px;
	margin-left:5px;
	margin-right:5px;
}*/

@media only screen and (max-width : 992px){
  .slides > h5{
  	max-width: 120px;
  }
}